RewriteEngine On

# Redirect old URLs to new URLs
Redirect 301 /visionmission.php https://abes.ac.in/visionmission.html
Redirect 301 /bog.php https://abes.ac.in/bog.html
Redirect 301 /Chairmanmessage.php https://abes.ac.in/Chairmanmessage.html
Redirect 301 /directorsmesssage.php https://abes.ac.in/directorsmesssage.html
Redirect 301 /institute-achievement.php https://abes.ac.in/institute-achievement.html
Redirect 301 /student-achievement.php https://abes.ac.in/student-achievement.html
Redirect 301 /aaa-about-aaa.php https://abes.ac.in/aaa-about-aaa.html
Redirect 301 /nba-accredited-college.php https://abes.ac.in/nba-accredited-college.html
Redirect 301 /naac-accredited-colleges.php https://abes.ac.in/naac-accredited-colleges.html
Redirect 301 /ACC-iso.php https://abes.ac.in/ACC-iso.html
Redirect 301 /nirf-ranking-college.php https://abes.ac.in/nirf-ranking-college.html
Redirect 301 /ACC-iic_ariia.php https://abes.ac.in/ACC-iic_ariia.html
Redirect 301 /courses-offered.php https://abes.ac.in/courses-offered.html
Redirect 301 /computer-science-engineering.php https://abes.ac.in/computer-science-engineering.html
Redirect 301 /cse-aiml.php https://abes.ac.in/academics/cse-aiml.html
Redirect 301 /cse-datascience.php https://abes.ac.in/academics/cse-datascience.html
Redirect 301 /mechanical-engineering.php https://abes.ac.in/academics/mechanical-engineering.html
Redirect 301 /ece-department.php https://abes.ac.in/academics/ece-department.html
Redirect 301 /electrical-and-computer-engineering.php https://abes.ac.in/academics/electrical-and-computer-engineering.html
Redirect 301 /mca-department.php https://abes.ac.in/academics/mca-department.html
Redirect 301 /life@abes_new.php https://abes.ac.in/life@abes_new.html
Redirect 301 /placement.php https://abes.ac.in/placement.html
Redirect 301 http://orbits.abes.ac.in/ http://orbits.abes.ac.in/
Redirect 301 /uav-journey.php https://abes.ac.in/uav-journey.html
Redirect 301 https://inurture.net/ https://inurture.net/
Redirect 301 /aicte-idea-lab.php https://abes.ac.in/aicte-idea-lab.html
Redirect 301 /footer-aicteapprovals.php https://abes.ac.in/footer-aicteapprovals.html
Redirect 301 /footer-affiliationletter.php https://abes.ac.in/footer-affiliationletter.html
Redirect 301 /education-verification.php https://abes.ac.in/education-verification.html
Redirect 301 /auditedstatement.php https://abes.ac.in/auditedstatement.html
Redirect 301 /footer-form.php https://abes.ac.in/footer-form.html
Redirect 301 /policycollege.php https://abes.ac.in/policycollege.html
Redirect 301 /GRC-grievance-redressal-cell.php https://abes.ac.in/GRC-grievance-redressal-cell.html
Redirect 301 /footer-Committees.php https://abes.ac.in/footer-Committees.html
Redirect 301 /circulars.php https://abes.ac.in/circulars.html
Redirect 301 /CAREER-department.php https://abes.ac.in/CAREER-department.html
Redirect 301 /cetl-about.php https://abes.ac.in/cetl-about.html
Redirect 301 /hr-policies.php https://abes.ac.in/hr-policies.html
Redirect 301 /iandepolicies.php https://abes.ac.in/iandepolicies.html
Redirect 301 /values-added-courses-overview.php https://abes.ac.in/values-added-courses-overview.html
Redirect 301 /computer-science-engineering.php https://abes.ac.in/computer-science-engineering.html
Redirect 301 /cse-aiml.php https://abes.ac.in/cse-aiml.html
Redirect 301 /cse-datascience.php https://abes.ac.in/cse-datascience.html
Redirect 301 /mechanical-engineering.php https://abes.ac.in/mechanical-engineering.html
Redirect 301 /ece-department.php https://abes.ac.in/ece-department.html
Redirect 301 /electrical-and-computer-engineering.php https://abes.ac.in/electrical-and-computer-engineering.html
Redirect 301 /mca-department.php https://abes.ac.in/mca-department.html
Redirect 301 /fee-structure.php https://abes.ac.in/courses-offered.html#fee-structure-description
Redirect 301 /courses.php https://abes.ac.in/courses-offered.html#progs-offered-description
Redirect 301 /documents-required.php https://abes.ac.in/courses-offered.html#docs-required-description
Redirect 301 /placement-btech.php https://abes.ac.in/placement.html
Redirect 301 https://inurture.net/ https://abes.ac.in/iNurture.html
Redirect 301 /academic-calender-odd21-22.php https://abes.ac.in/Academic-Calender.html
Redirect 301 /ACC-iic_ariia.php https://abes.ac.in/ACC-iic_ariia.html
Redirect 301 cse-about.php https://abes.ac.in/computer-science-engineering.html#about-description
Redirect 301 cse-hod-messege.php https://abes.ac.in/computer-science-engineering.html#hod-description
Redirect 301 /cse-infrastructure.php https://abes.ac.in/cse#infrastructure-description
Redirect 301 /cse-achievements.php https://abes.ac.in/cse#achievements-description
Redirect 301 /cse-event.php https://abes.ac.in/cse#events-description
Redirect 301 /cse-magazine-2022.php https://abes.ac.in/cse#magazine-description
Redirect 301 /cse-publication.php?dept=cse&p=journal https://abes.ac.in/cse#publications-description
Redirect 301 /cse-consultancy.php https://abes.ac.in/cse#consultancy-description
Redirect 301 /cse-industry-connects.php https://abes.ac.in/cse#industry-connect-description
Redirect 301 /cse-department-faq.php https://abes.ac.in/cse#faq-description
Redirect 301 /cse-aiml.php https://abes.ac.in/aiml#overview-description
Redirect 301 /cseaiml-about.php https://abes.ac.in/aiml#about-description
Redirect 301 /cseaiml-hod-messege.php https://abes.ac.in/aiml#hod-description
Redirect 301 /cseaiml-faculty.php https://abes.ac.in/aiml#faculty-description
Redirect 301 /cseaiml-student-achievements.php https://abes.ac.in/aiml#achievements-description
Redirect 301 /cseaiml-event.php https://abes.ac.in/aiml#events-description
Redirect 301 /cse-datascience.php https://abes.ac.in/ds#overview-description
Redirect 301 /ds-about.php https://abes.ac.in/ds#about-description
Redirect 301 /ds-hod-messege.php https://abes.ac.in/ds#hod-description
Redirect 301 /cseds-faculty.php https://abes.ac.in/ds#faculty-description
Redirect 301 /ds-achievement.php https://abes.ac.in/ds#achievements-description
Redirect 301 /ds-industry-connect.php https://abes.ac.in/ds#industry-connect-description
Redirect 301 /mechanical-engineering.php https://abes.ac.in/mechanical#overview-description
Redirect 301 /ME-about.php https://abes.ac.in/mechanical#about-description
Redirect 301 /ME-hod-messege.php https://abes.ac.in/mechanical#hod-description
Redirect 301 /ME-faculty.php https://abes.ac.in/mechanical#faculty-description
Redirect 301 /ME-infrastructure.php https://abes.ac.in/mechanical#infrastructure-description
Redirect 301 /ME-achievements.php https://abes.ac.in/mechanical#achievements-description
Redirect 301 /ME-event.php https://abes.ac.in/mechanical#events-description
Redirect 301 /ME-magazine2021.php https://abes.ac.in/mechanical#magazine-description
Redirect 301 /ME-publication.php?dept=me&p=journal https://abes.ac.in/mechanical#publications-description
Redirect 301 /ME-consultancy.php https://abes.ac.in/mechanical#consultancy-description
Redirect 301 /ME-industry-connects.php https://abes.ac.in/mechanical#industry-connect-description
Redirect 301 /me-training.php https://abes.ac.in/mechanical#training-description
Redirect 301 /me-techsociety.php https://abes.ac.in/mechanical#tech-society-description
Redirect 301 /ME-department-FAQ.php https://abes.ac.in/mechanical#faq-description
Redirect 301 /ece-department.php https://abes.ac.in/ece#overview-description
Redirect 301 /ece-about.php https://abes.ac.in/ece#about-description
Redirect 301 /ece-hod-messege.php https://abes.ac.in/ece#hod-description
Redirect 301 /ece-faculty.php https://abes.ac.in/ece#faculty-description
Redirect 301 /ece-infrastructure.php https://abes.ac.in/ece#infrastructure-description
Redirect 301 /ece-faculty-achievement.php https://abes.ac.in/ece#achievements-description
Redirect 301 /ece-event.php https://abes.ac.in/ece#events-description
Redirect 301 /ece-magazine2021.php https://abes.ac.in/ece#magazine-description
Redirect 301 /ece-publication.php?dept=ec&p=journal https://abes.ac.in/ece#publications-description
Redirect 301 /ece-consultancy.php https://abes.ac.in/ece#consultancy-description
Redirect 301 /ece-industry-connects.php https://abes.ac.in/ece#industry-connect-description
Redirect 301 /ece-department-faq.php https://abes.ac.in/ece#faq-description
Redirect 301 /electrical-and-computer-engineering.php https://abes.ac.in/elce#overview-description
Redirect 301 /ELCE-about.php https://abes.ac.in/elce#about-description
Redirect 301 /elce-hod-messege.php https://abes.ac.in/elce#hod-description
Redirect 301 /ELCE-faculty.php https://abes.ac.in/elce#faculty-description
Redirect 301 /mca-department.php https://abes.ac.in/mca#overview-description
Redirect 301 /mca-about.php https://abes.ac.in/mca#about-description
Redirect 301 /mca-hod-messege.php https://abes.ac.in/mca#hod-description
Redirect 301 /mca-faculty.php https://abes.ac.in/mca#faculty-description
Redirect 301 /mca-infrastructure.php https://abes.ac.in/mca#infrastructure-description
Redirect 301 /mca-achievement.php https://abes.ac.in/mca#achievements-description
Redirect 301 /mca-event.php https://abes.ac.in/mca#events-description
Redirect 301 /mca-magazine.php https://abes.ac.in/mca#magazine-description
Redirect 301 /mca-publication.php?dept=mca&p=journal https://abes.ac.in/mca#publications-description
Redirect 301 /mca-consultancy.php https://abes.ac.in/mca#consultancy-description
Redirect 301 /mca-industry-connects.php https://abes.ac.in/mca#industry-connect-description
Redirect 301 /mca-department-faq.php https://abes.ac.in/mca#faq-description
Redirect 301 /courses-offered.php https://abes.ac.in/admissions.html#progs-offered-description
Redirect 301 /admission-procedure.php https://abes.ac.in/admissions.html#adm-procedure-description
Redirect 301 /eligibility.php https://abes.ac.in/admissions.html#eligibility-description
Redirect 301 /admission-enquiry.php https://abes.ac.in/admissions.html#adm-enquiry-description
Redirect 301 /documents-required.php https://abes.ac.in/admissions.html#docs-required-description
Redirect 301 /fee-structure.php https://abes.ac.in/admissions.html#fee-structure-description
Redirect 301 /payment-procedure.php https://abes.ac.in/admissions.html#payment-procedure-description
Redirect 301 /refund-policy.php https://abes.ac.in/admissions.html#refund-policy-description
Redirect 301 /pdf/Anti%20Ragging%20Affidavit%20Guidelines.pdf https://abes.ac.in/admissions.html#anti-ragging-description
Redirect 301 /scholarship-policies.php https://abes.ac.in/admissions.html#scholarship-state-description
Redirect 301 /IQAC-department.php https://abes.ac.in/academics/IQAC-department.html
Redirect 301 /IQAC-minutes-of-meeting.php https://abes.ac.in/IQAC-department.html#Minutes-of-Meeting
Redirect 301 /aqar.php https://abes.ac.in/IQAC-department.html#aqar
Redirect 301 /view_ind_faculty.php?fid=2907 https://www.abes.ac.in/uba-wing.html
Redirect 301 /uba-wing.php https://www.abes.ac.in/uba-wing.html
Redirect 301 https://www.abes.abes.ac.in/uba-wing.php https://www.abes.ac.in/uba-wing.html



