<style>


.dept-cs{
	margin-top:150px;}
.header1 {
    padding: 30px 0;
    height: 110px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #a51c30;
    transition: all 0.5s;
    z-index: 997;
}

.nav-pills .nav-link {
    
    background-color: #cdd0cb;
    margin: .5rem;
}



body{
	
	
}
section{
	margin-top: 50px;
}
h4{
	margin-top: 10px;
	margin-bottom: 5px;
	color: #a51c30;
}
blockquote{
	font-size: 16px;
	color: #a51c30;
}
.colorm{
	color: #a51c30;
}
.heading {
    background: #fff;
    border-top: 3px solid #a51c30;
    border-bottom: 3px solid #a51c30;
    padding: 30px;
    border-radius: 10px;
    color: #a51c30;
    text-transform: uppercase;
}
.departments{
	background: #ffffff;
    border-radius: 10px;
    
}
.departments h6{
	color: #a51c30;
    padding: 10px 0px;
    margin-bottom: 0px;
}
.content h6{
	text-align: center;
	font-size: 20px;
	font-weight: bold;	

}
.logo{
	text-align: center;
}
.logo p{
	color: #a51c30;
	font-weight: bold;
	padding-top: 12px;
}
.vision1{
	background: #a51c30;
    border-radius: 10px;
	padding: 20px;
	color: #fff;
	
}
.vision1 h4{
	color: #fff;
	text-align: center;
}
.mission1{
	background: #f3b831;
	border-radius: 10px;
	padding: 20px;
	color: #a51c30;
	font-weight: 600;
}
.mission2{
	background: #f3b831;
	border-radius: 10px;
	padding: 20px;
	color: #a51c30;
	font-weight: 600;
}
.mission2 h4{text-align: center;
color:#a51c30;}


.mission1 h4{
	text-align: center;
	color:#fff;
}
.vision2{
	background: #a51c30;
    border-radius: 10px;
	padding: 20px;
	color: #fff;
	font-weight: 600;
}
.vision2 h4{
	color: #fff;
	text-align: center;
}


.departments .widget-main-title{
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 20px;
    border-bottom: 1px solid #d5dbe0;
}
.departments .cat-item ul{
	padding: 20px;
	margin: 0;
    list-style-position: inside;
    list-style-type: square;
}
.departments .cat-item ul li{
	line-height: 30px;
}
.departments .cat-item ul li a{
    color: #252222;	
    font-weight: 600;
    font-size: 15px;
}

.content
{
    border-radius: 10px;
    text-align: justify;
	
	
}
.course-detail table{
	padding: 20px;
}
.form-1 .table-field{
	padding: 10px 20px 0px 20px;
}
.table-field label{
	display: block;
	font-weight: 400;
    font-size: 13px;
    margin-bottom: 3px;
}
.table-field input, select{
	width: 100%;
    border: 1px solid;
    padding: 5px 10px;
    outline: none;
    border-color: #d5dbe0 !important;
}
.form-1 .submit{
	padding: 20px;
}
.form-1 .submit .mainBtn{
	height: 40px;
    width: auto;
    padding: 0 15px;
    margin: 0;
    color: #fff;
    background: #a51c30;
    border: none;
}
.table-field select{
	background-image: url(images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    padding: 3px 8px;
    border: 1px solid;
    border-color: #d5dbe0 !important;
}


	padding: 20px;
	color: #a51c30;
	font-weight: 600;
}
.dep_first .dep_content .mission1 h4{
	font-size: 25px;
}

/**Fuculty**/

.faculties
{
	background: #fff;
    border-top: 3px solid #a51c30;
    border-bottom: 3px solid #a51c30;
    padding: 30px;
    border-radius: 10px;
    text-align: justify;
}
.faculties h2{
	color: #a51c30;
	text-transform: uppercase;
}
.faculties .faculty{
	text-align: center;
}
.faculties .faculty img{
	border-radius: 50%;
	box-shadow: 2px 2px 2px 2px #e4e4e4;
}
.faculty h6{
	color: #a51c30;
	padding-top: 10px;
}



/** Events Page **/

.event_first .events_des{
	background: #fff;
    border-top: 3px solid #a51c30;
    border-bottom: 3px solid #a51c30;
    padding: 30px;
    border-radius: 10px;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition-duration: 3s;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: #a51c30;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding: 60px 0px;
}
.event_box .card img{
	transition: .15s;
}
.event_box .card img:hover{
	box-shadow: 0 0 50px rgb(17 17 17 / 50%);
    transform: rotate(-1deg) translateY(-3px) scale(1.025);
}
.event_box .card .card-body .btn{
	background: #a51c30;
    border-radius: 10px;
    color: #fff;
    padding: 3px 10px;
	font-size: 15px;
	font-weight: normal;
}
.event_box .card .card-body .btn:hover{
	background: #f3b831;
	color: #a51c30;
	font-weight: bold;
}


.custom-list {
    list-style: none;   
}
ul.custom-list{
	list-style-image: url('images/download.png');
	list-style-position: outside;
	padding: 20px 10px 20px 35px;
}
ul.custom-list li{
	line-height: 30px;
}

ul.custom-list li a:hover{
	text-decoration: none!important;
	color: #a51c30;
}
ul.custom-list li a{ 
    color: #000;	
    font-weight: 600;
    font-size: 15px;
}.

/** Achievement **/

.achievement {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fdb104;
}

.achievement:hover .overlay {
  opacity: 1;
  transition: 1s;
  transform: rotate(-10deg);
  transition-timing-function: ease;
}

.text {
  color: #a51c30;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/** Infrastructure **/

.gallery img{
	margin: 10px 0px;
    border-radius: 15px;
    box-shadow: 5px 5px #f3b831;
    border-top: 2px #a51c30 solid;
}







.accordion {width: 100%;max-width: 100%;margin: auto;}
.accordion input[type="radio"] {display: none;}
.accordion input[type="radio"] ~ .accordionContent {display: none;}
.accordion input[type="radio"]:checked ~ .accordionContent {display: block;}

.accordion .accordionBlock {margin-bottom: 5px;display: block;width: 100%;float: left;}
.accordion .accordionBlock .accordionContent {border:1px solid #eee;border-top: 0 none;width: 100%;float: left;padding: 10px;font-weight: 400;}

.accordion .accordionBlock label {background: #f5f5f5;width: 100%;border:1px solid #eee;padding: 10px;margin-bottom: 0; float: left;font-weight: 700;font-size: 18px;letter-spacing: 0.5px;cursor:pointer;}
.accordion input[type="radio"]:checked ~ label { border-bottom: 0 none;background: #f3b831;color: #a51c30;
}


/*-- let's have some fun with animation for accordion content --*/
.accordion .accordionBlock .accordionContent {animation: 1s fadeInAccordion;animation-fill-mode: forwards;visibility: hidden;line-height:18px}


@keyframes fadeInAccordion {
  0% {
    opacity: 0; 
  }
  100% {
    visibility: visible;
    opacity: 1; 
  }
}
.course_btn a{
  color: #fff;
}
.course_btn span{
  color:#a51c30;
  font-weight: 600;
}

/** Admission Guideline  **/

#adm_first .content ul{
  padding-left: 20px;
}
#adm_first .content ul li{
  line-height: 30px;
}
.write{
  list-style: none;
}
ul.write{
    list-style-image: url(images/write.png);
    padding-left: 20px;
    line-height: 25px;
}

.table-success tbody+tbody, .table-success td, .table-success th, .table-success thead th {
    border: 1px solid #1d1b1b1f;
}
.table-success, .table-success>td, .table-success>th{
   border: 1px solid #1d1b1b1f;
}
.table-success, .table-success>td, .table-success>th {
    background-color: #1d1b1b1f;
}
.table td {
  font-weight: 500;
}
table a{
  color: #212529;
}
.fa-ul{
  padding-left: 25px!important;
    line-height: 30px!important;
    margin-left: 0px!important;
    list-style: decimal-leading-zero;
}
.fa-ul a{
  color: #a51c30;
}

#cetl_first img{
  box-shadow: 1px 1px 10px #000;
  border-radius: 20px;
}
.cp_tm img {vertical-align: middle;}

.cp_tm .cp_content {
  position: absolute;
  bottom: 0;
  background: #a51c30b3; /* Fallback color */
  background: #a51c30b3;
  color: #fff;
  width: 89%;
  padding: 20px;
}
.cp_tm .cp_content h6{
  
  text-align: center;
}

.darkblue{    
  background: #31394e;
  padding: 20px;
  border-radius: 0px 80px 0px 0px;
  min-height: 180px;
}
.darkblue1 h2{
    color:  #ff9f00;
}
.darkblue2 h2{
    color:  #34a060;
}
.darkblue3 h2{
    color:  #0fc9f3;
}
/*.darkblue4 h2 {
    color: #ef4d4d;
}
.darkblue5 h2 {
    color: #c50fb7;
}
.darkblue6 h2 {
    color: #5870b5;
}*/
.yellow{
  background: #eea834;
  padding: 20px;
  border-radius: 0px 80px 0px 0px;
}
.yellow h2{
    color: #e09210;
}

.green{
  background: #24ac5c;  
  padding: 20px;
  border-radius: 0px 80px 0px 0px;
  min-height: 180px;
}
.green h2{
    color: #148241;
}

.blue{
  background: #266ea5;
  padding: 20px;
  border-radius: 0px 80px 0px 0px;
  min-height: 180px;
}
.blue h2{
    color: #134f7d;
}

.yellow h2, .blue h2, .green h2, .darkblue h2{
    position: absolute;
    top: -45px;
    font-weight: 700;
    font-size: 66px;
    left: 1px;
    text-shadow: 2px 3px 1px #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.colorblue h4{
   padding:10px 35px;
  
}

.colorblue{
  background: #0ca0cc; 
}
.colorblue h4{
  padding: 20px;
  color: #fff;
}
iframe{
  border-radius: 20px;
}

.cp_tm img {vertical-align: middle;}

.cp_tm .cp_content {
  position: absolute;
  bottom: 0;
  background: #a51c30b3; /* Fallback color */
  background: #a51c30b3;
  color: #fff;
  width: 89%;
  padding: 20px;
}
.cp_tm .cp_content h6{
  
  text-align: center;
}


#career_first{
  background-image: url("images/bg-career.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#career_first .career_bg .accordion .accordion-button{
    background: rgb(6 29 59);
    border: 2px solid rgba(224,232,240,.3);
    border-radius: 4px;
    font-weight: 500;
    color: #fff!important;
    z-index: 999;
}
#career_first .career_bg .accordion .accordion-item .accordion-body{
    background: #fff;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    color: #fff!important;
    content: "";
    background-image: url(images/arrow.png)!important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-item a{
  text-decoration: none;
}
.career_detail label{
  color: #fff;
}


#regForm input {
  padding: 3px 10px 0 10px;
  width: 100%;
  font-size: 13px;
  border: 1px solid #aaaaaa;
}

#regForm input {
  padding: 3px 10px 0 10px;
  width: 100%;
  font-size: 13px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.form-control{
  font-size: 13px!important
}
.form-ul>li {
    display: inline-block;
    list-style: none;
    width: 40%;
    vertical-align: middle!important;
}
ul.form-ul {
    margin-bottom: 0px!important;
}
.table td, .table th{
  vertical-align: middle!important;
}
input[type=date], input[type=datetime-local], input[type=month], input[type=time], input,textarea, select{
  border-radius: 5px;
  padding: 6px 10px 6px 10px!important;
  width: 100%;
}


.faculty-detail{
    position: absolute;
    z-index: 100;
    font-size: 20px!important;
}
.faculty-detail i{
padding: 14px;
}
@media (min-width: 320px) and (max-width: 576px){
  .faculty-detail i {
    padding-left: 37px;
}
}


.card-item-heading h4, .card-item-desc p, .card-item-button a, .infra_des h4, .infra_des p, #infra_second h2, #infra_second a{
    font-family: 'Open Sans', sans-serif;
}
.card-item-heading h4{
    color: #a51c30;
    display: block;
}
.card-item-heading a:hover{
  text-decoration: none!important;
}
.i-btn-secondary{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#a51c30;
    border:2px solid #0062a5;
    border-radius:3.125rem;
    color:#ffffff;
    font-size:0.875rem;
    min-height:3rem;
    padding:0.125rem 1.5625rem 0.125rem 3.5rem;
    position:relative;
    text-decoration:none;
    -webkit-transition:background-color 0.25s ease;
    transition:background-color 0.25s ease;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    margin-bottom:0.625rem;
}
.i-btn-secondary:hover{
  background-color:#525249;
  border-color:#525249;
  color:#ffffff;
  text-decoration:none;
  text-transform: lowercase!important;

}
.i-btn-secondary::before{
    background: #ffc107;
    border-radius: 50%;
    content: "";
    height: 3rem;
    left: -0.125rem;
    position: absolute;
    top: -0.125rem;
    width: 3rem;
    display: inline-block;
}

.i-btn-secondary{
    border-color:#ffc107;
    display:inline-block;
}
a.i-btn-secondary{
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
}
.i-btn-secondary1{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#fff;
    border:2px solid #0062a5;
    border-radius:3.125rem;
    color:#ffffff;
    font-size:0.875rem;
    min-height:3rem;
    padding:0.125rem 1.5625rem 0.125rem 3.5rem;
    position:relative;
    text-decoration:none;
    -webkit-transition:background-color 0.25s ease;
    transition:background-color 0.25s ease;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    margin-bottom:0.625rem;
}
.i-btn-secondary1:hover{
  background-color:#a51c30;
  border-color:#fff;
  color:#ffffff;
  text-decoration:none;
}
.i-btn-secondary1::before{
    background: #a51c30;
    border-radius: 50%;
    content: "";
    height: 3rem;
    left: -0.125rem;
    position: absolute;
    top: -0.125rem;
    width: 3rem;
    border: 1px solid #fff;
    display: inline-block;
}
.i-btn-secondary1:hover::before{
  background: #fff;
}
.i-btn-secondary1{
    border-color:#ffc107;
    display:inline-block;
}
a.i-btn-secondary1{
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    color: #a51c30;
    text-shadow: none;
    font-size: 18px;
}
:root {
    --colorGarnet: hsl(350, 78%, 30%);
    --colorGarnet_bright: hsl(351, 80%, 34%);
    --colorGarnet_dark: hsl(349, 98%, 18%);
    --colorGarnet_dark2: hsl(350, 97%, 12%);
    --colorGray: hsl(0, 0%, 44%);
    --colorGray_light: hsl(0, 0%, 94%);
    --colorBlue: hsl(198, 86%, 27%);
    --colorBlue_bright: hsl(195, 61%, 46%);
    --colorBlue_dark: hsl(198, 94%, 14%);
    --colorBlue_light: hsl(192, 95%, 80%);
    --colorGreen: hsl(57, 66%, 22%);
    --colorGreen_bright: hsl(55, 60%, 44%);
    --colorLink: hsl(198, 86%, 34%);
    --colorLink_light: hsl(192, 95%, 80%);
}

.table-striped tbody tr:nth-of-type(even) {
   background: #e4e4e4!important;
}
.table-striped tbody tr:nth-of-type(odd) {
   background:#fff!important;
}
.table-faculty td {
    border: none;
}
.card-body{
	padding: 0px;
	padding-top: 20px;
}
.i-btn-secondary{
	width: 100%
}
thead{
	background:#000;
	color: #fff;
}

.card-img .card-img-top {
    border-radius: 50%;
}

.colorblue{
  background: #0ca0cc;
  border-radius: 20px;
}

</style>