@font-face {
  font-family: "Canela Web";
  src: url("../font/Canela-Regular-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Canela Deck Web";
  src: url("../font/CanelaDeck-Regular-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT America Bold";
  src: url("../font/GT-America-Standard-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT America Medium";
  src: url("../font/GT-America-Standard-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT America Regular";
  src: url("../font/GT-America-Standard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Albertus Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Albertus-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(243, 244, 244);
}
.heading {
  cursor: pointer;
}
.soft-skill-image-container {
  height: 50vh;
  position: relative;
}
.soft-skill-image-content {
  text-align: center;
  position: relative;
  width: 100%;
}
.soft-skill-image-content::before {
  content: "";
  /* background: hsla(0, 0%, 5%, 0.6); */

  background: linear-gradient(180deg, hsla(0, 0%, 5%, 0.4) 29.9%, #0e0e0e);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.soft-skill-image-content .background-img {
  width: 100%;
  height: auto;
}
.soft-skill-image-content #background-img-mob{
  display: none;
}
.soft-skill-image-content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-family: "Albertus Medium";
  letter-spacing: 0.1px;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 52px;
  /*max-width: 1400px;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-family: "Albertus Medium";
    font-size: 56px;
    line-height: 1;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding-bottom: 0;
    text-align: start; */
}
.links {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.links-heading {
  display: flex;
  flex-direction: column;
  min-width: 14rem;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.links-heading div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 20px 28px 20px 26px;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albertus Medium";
  font-size: 1.02rem;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
.links-heading .quick-links {
  color: #992728;
  border-bottom: 0;
  font-family: "GT America Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  padding: 10px 28px 10px 26px;
  align-items: center;
}
.links-heading .overview {
  /* display: flex; */
  /* border-bottom: 1px solid #000; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 20px 28px 20px 26px;
    align-items: center;
    font-family: Albertus Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.25); */
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 20px 28px 20px 26px;
  align-items: center;
  /* color: rgba(0, 0, 0, 0.25); */
  font-family: "Albertus Medium";
  font-size: 1.02rem;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.emp-portal,
.student-portal {
  position: relative;
}

.icon img {
  position: absolute;
  top: 24%;
  right: 2%;
  height: 35px;
}
.soft-skills-nav{
    color: #545454;
text-align: justify;
font-family: "GT America Regular";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.soft-skills-nav span{
    color: #992728;
}
.padding {
  padding: 24px 100px;
}
.overview-description {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  
}
.overview-description h2{
    color: #000;
    font-family: "Albertus Medium";
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    margin: 1rem 0;
}
.overview-description p {
  margin-top: 0;
  line-height: 26px;
  font-family: "GT America Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  color: #000;
  line-height: 26px;
}
.margin-bottom {
  margin-bottom: 4px;
}
.soft-skill-description{
    margin-top: 1rem;
    line-height: 26px;
}
.soft-skill-headings{
    color: #992728;
font-family: "Albertus Medium";
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
padding: 16px 0;
line-height: 150%; /* 3rem */
}
.placement-prep-text{
    color: #000;
text-align: justify;
font-family: "GT America Regular";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}

.overview-description ul {
  margin-top: 0;
  list-style: none;
}
.overview-description ul li {
  line-height: 26px;
  font-family: "GT America Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  color: #000;
  line-height: 26px;
}
.overview-description ul li:before {
  content: "•";
  font-size: 20pt;
}

.seep-team {
  /* display: none; */
  /* width: 100%; */
  padding-bottom: 5rem;
}
.seep-team h2{
    
        color: #000;
        font-family: "Albertus Medium";
        font-size: 2.6rem;
        font-style: normal;
        font-weight: 400;
        margin: 2rem 0;
    
}
.seep-team-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  gap: 1rem;

}
.seep-team-info{
 margin: auto;

 /* margin-right: 2rem; */
 
}
.seep-team-info .person-name{
  color: #992728;
text-align: justify;
font-family: "GT America Regular";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 30px;
}
.seep-team-designation{
  color: #000;
font-family: "GT America Regular";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.seep-team-image{
  width: 14rem;
height: 11rem;
}
.seep-team-image img{
  width: 14rem;
height: 11rem;
/* object-fit: cover; */
}
.seep-team-description{
  color: #000;
text-align: justify;
font-family: "GT America Regular";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.9rem;
}

.hide-section {
  display: none;
}
.selected-section {
  color: #fff !important;
  background: #000;
  border-bottom: 1px solid #000;
}

.soft-skill-divider {
  margin-top: 0.5rem;
  border: 2px solid #000 !important;
  width: 100%;
}
.softskills-seep {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  
}

.softskills-seep h2 {
  /* font-family: "Canela Deck Web"; */
  font-family: "Albertus Medium";
  font-size: 48px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  margin: 0;
}

.softskills-seep .divider {
  border: 3px solid #1e1e1e;
  width: 100%;
  margin-right: 24px;
  margin-bottom: 32px;
}

.softskills-seep-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.softskills-seep-items p {
  font-family: "GT America Regular";
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #1e1e1e;
}

.softskills-seep-items p strong {
  font-family: "GT America Bold";
  /* color:#992728; */
  /* font-size: 18px; */
}

.softskills-seep-items p:nth-child(even) {
  padding-left: 24px;
}

.image-and-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: stretch;
  justify-content: space-evenly;
  margin: 20px 0;
}

.image-and-content img {
  width: 40%;
}

.image-and-content .red-heading {
  font-size: 3rem;
  font-weight: bold;
}


/* Placement replaced section */
#sec6 {
  background-color: black;
  color: white;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 50px 100px;
}
.heading-with-text h2 {
  font-size: 48px;
  margin: 0;
  font-family: "Albertus Medium";
  font-weight: 400;
}
.heading-with-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
hr {
  width: 100%;
}
#sec6 .heading-with-text-container h2{
  width: 100%;
    margin-bottom: 1rem;
}
.heading-with-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-grid-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
}
.hod-quote {
  font-family: "Albertus Medium";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.by-content {
  color: #fff;
  font-family: "GT America Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
element.style {
  color: #FFFFFF;
  font-weight: 700;
}
.content-para {
  font-family: "GT America Regular";
  width: 100%;
  color: #FFF;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.header-image {
  width: 407px;
  height: 490px;
}
.header-image img {
  width: 100%;
  object-fit: cover;
}




/* Mobile Responsiveness */
@media (max-width: 450px){

  :root{
    --heading-size: 32px;
  }

  .padding {
    padding: 30px 20px;
}

/* Soft Skill training Header */
.soft-skill-image-container{
  height: 50vh;
}
.soft-skill-image-content{
  height: 100%;
}
.soft-skill-image-content .background-img{
  height: 100%;
}
.soft-skill-image-content #background-img-deks{
  display: none;
}
.soft-skill-image-content #background-img-mob{
  display: block;
}
.soft-skill-image-content h1{
  font-size: 3rem;
  line-height: 1.1;
}


/* Overview of the services of SEEP SECTION */
.heading h2{
  font-size: var(--heading-size) !important;
  margin-bottom: 1.5rem !important;
}
.heading hr{
  border: 2px solid black;
}
.image-and-content-normal{
  flex-direction: column;
}
.image-and-content-normal{
  height: auto !important;
}
.content-container-50 h1{
  font-size: var(--heading-size) !important;
  line-height: 1.3;
}
.image-and-content-normal .image-container-50{
  height: 250px !important;
}

/* CCPD Section */
.overview-description h2{
  font-size: var(--heading-size);
}
.overview-description ul{
  padding-left: 0px;
}
.overview-description ul li{
  margin-bottom: 6px;
}


/* Image section */
.seep-team-header{
  flex-direction: column;
  margin-top: 0px;
}
.seep-team-image{
  height: 20rem;
  width: 100%;
}
.seep-team-image img{
  height: 100%;
  width: 100%;
}
.seep-team-header{
  gap: 2rem;
  margin-bottom: 3rem;
}
.seep-team-description{
  line-height: 26px;
}


/* SEEP Team */
.softskills-seep h2{
  font-size: var(--heading-size);
  margin-bottom: 1rem;
}
.softskills-seep .divider{
  border-width: 2px;
}
.softskills-seep{
  margin-top: 3rem;
}
.softskills-seep-items{
  display: flex;
  flex-direction: column;
}
.softskills-seep-items p:nth-child(even){
  padding-left: 0px;
}
.softskills-seep-items p{
  margin-top: 0;
}
.seep-team{
  padding-top: 0;
}

/* Message from Head-Student Employbility */

.header-grid-container{
  gap: 0rem;
  flex-direction: column;
}
.header-image{
  padding: 0;
  order: 1;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
}
.header-content{
  order: 2;
  gap: 2rem;
}
.quote-image{
  height: 1.5rem;
}
.hod-quote{
  font-size: 30px;
}
.content-para{
  font-size: 16px;
  margin-bottom: 1rem;
}
#sec6{
  padding: 30px 20px;
}
#sec6 .heading-with-text-container h2{
  font-size: var(--heading-size);
  margin-bottom: 0;
}
#sec6 hr{
  border-width: 2px;
}
.heading-with-text-container{
  margin-top: 20px;
}


}

