@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: "Canela Web";
  src: url("/font/Canela-Regular-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Canela Deck Web";
  src: url("/font/CanelaDeck-Regular-Web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT America Bold";
  src: url("/font/GT-America-Standard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT America Medium";
  src: url("/font/GT-America-Standard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT America Regular";
  src: url("/font/GT-America-Standard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "anziano";
  src: url("/font/AnzianoPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Albertus Medium";
  font-style: normal;
  font-weight: 400;
  src: url("/font/Albertus-Medium.ttf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(243, 244, 244);
  /* overflow-x: hidden; */
}
.aos-animation:start {
  -webkit-filter: darken(100%);
  filter: darken(100%);
  mix-blend-mode: darken !important;
}
hr {
  width: 100%;
}
.video-container {
  position: relative;
  width: 100%;
}


video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f3f4f4;
  background: linear-gradient(180deg, hsla(0, 0%, 5%, 0.4) 80.9%, #0e0e0e);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6.5fr;
  grid-gap: 11rem;
  z-index: 100;
  padding: 0px 104px;
  box-sizing: border-box;
  /* transition: background-color .5s cubic-bezier(.77, 0, .175, 1); */
}
.navbar:has(p.dropdown-open) {
  /* border-bottom: 1px solid #3A3A3A; */
  background: #212121;
}

.navbar .logo-container a {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.abes-logo {
  width: 125px;
}

.navbar .navbar-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 14px;
  font-family: "Albertus Medium";
  font-weight: medium;
}

.navbar .navbar-items p {
  cursor: pointer;
  margin: 0;
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  font-family: "Albertus Medium;";
}

.navbar .navbar-items p a {
  text-decoration: none;
}

.navbar-expand-icon {
  margin-left: 8px;
  font-size: 14px;
  font-family: "GT America Bold";
}

.contact-btn {
  /* background-color: rgb(153, 39, 40); */
  background: #992728;
  border: none;
  /* font-size: 14px; */
  /* font-family: "Canela Deck Web"; */
  font-size: 14px;
  font-family: "Albertus Medium";
  color: #ffffff;
  padding: 8px 25px;
  z-index: 1000;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar-menu {
  display: none;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.text-welcome {
  /*font-size: 7.25rem; */
  /*font-size: 116px; */
  font-size: 5.7rem;
  font-style: normal;
  font-family: "Albertus Medium";
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.text-description {
  max-width: 540px;
  margin: 32px auto;
  font-size: 18px;
  font-family: "GT America Regular";
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
}
.main-heading-black h2 {
  font-size: 2.9rem;
  font-family: "Albertus Medium";
  font-weight: 400;
  padding-top: 0px;
}
.main-heading-white h2 {
  /* font-size: 52px; */
  font-size: 2.9rem;
  font-family: "Albertus Medium";
  font-weight: 400;
  padding-top: 0px;
}

.stats-container {
  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
}

.stats-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stats-description-container {
  padding-top: 35px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.stats-description-container p {
  font-family: "GT America Regular";
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #1e1e1e;
}

.link-item {
  /* display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer; */
  font-family: "GT America Regular";
  display: flex;
  width: max-content;
  align-items: center;
  /* gap: 1px; */
  cursor: pointer;
  background-color: #000;
  padding: 2px 14px;
  margin-top: 0;
}

.link-item span {
  /* font-size: 20px;
  font-weight: 600; */
  color: #fff;
  font-size: 16px;
}

.arrow-container {
  height: 40px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 18px !important;
  /* background-color: rgb(101, 111, 119); */
}

.arrow-container:hover {
  background-color: #0e0e0e;
}

.divider {
  border: 2px solid black;
  margin-top: 0%;
  margin-bottom: 0;
}

.divider-white {
  border: 2px solid #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.stats-content {
  padding-top: 33px;
  padding-bottom: 48px;
}

.stats-list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 32px;
  column-gap: 28px;
}

.stats-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 20px 0px 20px 20px;
  border-left: 4px solid #992728;
  background: #FFF; */
}

.about-section {
  background-color: #151514;
  color: #fff;
  margin-top: 0;
  padding: 16px;
  padding-right: 0;
  padding-left: 0;
}

.about-container {
  padding-left: 0;
  padding-right: 0;

  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
}

.about-content {
  padding-top: 33px;
  color: #fff;
  text-align: justify;
  flex: 1.2;
}

.about-image {
  padding-top: 33px;
  display: flex;
  flex: 1;
}
.about-image img {
  padding-top: 25px;
  width: 100%;
  height: auto;
  max-height: 31em;
  display: block;
}
.container {
  /* padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  padding: 0;
  margin: 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.about-content p {
  font-family: "GT America Regular";
  font-size: 20px;
  /* line-height: 1.5; */
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.accreditations-container {
  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
}

.accreditations-content {
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.accreditations-content .lower,
.upper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.accreditations-content .upper {
  padding-bottom: 78px;
}
.image,
.image3 {
  max-width: 280px;
  display: flex;
  justify-content: center;
}
.image img {
  max-width: 75%;
  height: auto;
  mix-blend-mode: darken !important;
  margin: auto;
}

.image3 img {
  max-width: 85%;
  height: auto;
  mix-blend-mode: darken !important;
  margin: auto;
}
.courses-section {
  background-color: #151514;
  color: #fff;
  margin-top: 0;
  padding: 1px;
  padding-right: 0;
  padding-left: 0;
}

.courses-container {
  padding-left: 0;
  padding-right: 0;

  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
}

.courses-content {
  padding-top: 44px;
}
.courses-tab {
  display: flex;
  flex-direction: column;
}
.courses-content .programmes {
  display: flex;
  cursor: pointer;
}
#pg-programs {
  display: none;
}

.programmes div {
  font-family: "Albertus Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  display: flex;
  padding: 18px 0px 18px 0px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* Mobile view course and branch edit */
.programmes #course-mob {
  display: none;
}
.courses .branches div .branch-mob {
  display: none;
}

.active-tab {
  background-color: #fff;
  color: #000 !important;
  border-bottom: 3px solid #fff;
}
.courses {
  margin-top: 18px;
}

.courses .name {
  font-size: 16px;
  color: #ffffff;
  font-family: "GT America Regular";
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  background: #1e1e1e;
  padding: 12px 40px;
}
.courses .name .seats-number {
  min-width: 154px;
  text-align: center;
}
.courses .BTech {
  color: #fff;
  font-family: "Albertus Medium";
  font-size: 24px;
  background: #1e1e1e;
  font-style: normal;
  font-weight: 400;
  padding: 14px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.courses .MTech-text-mobile{
  display: none !important;
}
.courses .branches {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.courses .branches div {
  display: flex;
  justify-content: space-between;
  padding: 14px 40px;
  align-items: center;
  border-bottom: 1px solid #3c3c3c;
}
.courses .branches div span {
  font-family: "Albertus Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.courses .branches div .seats {
  font-size: 18px;
  font-family: "GT America Regular ";
  font-style: normal;
  font-weight: 400;
  min-width: 154px;
  text-align: center;
}

.explore-container {
  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
}

.explore-images-container {
  padding-top: 33px;
  padding-bottom: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.explore-images-container .explore-images {
  position: relative;
  padding: 0px 0px 60px 0px;
  margin: 0px 0px -60px 0px;
  overflow: hidden;
  cursor: pointer;
  max-width: 33%;
}

.explore-images-container .explore-images::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); */
}

.explore-images-container .explore-images img {
  width: 100%;
  height: 100%;
  bottom: 75px;
  position: relative;
  object-fit: cover;
  transition: all ease-in-out 0.4s;
  padding-top: 50px;
}

.explore-images-container .explore-images:hover img {
  transform: scale(1.25) rotate(1deg);
}

.explore-images-container .explore-content {
  position: absolute;
  top: 250px;
  padding: 10px;
  background: #151514;
  color: #fff;
  z-index: 1;
}
.explore-content-heading {
  color: #fff;
  font-family: "Albertus Medium";
  /* font-size: 50px; */
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 400;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.row div {
  display: flex;
  align-items: center;
}
.row .arrow-div {
  border: 1px solid #fff;
  height: max-content;
  border-radius: 50%;
  padding: 9px 10px;
  margin-top: 8px;
}
.explore-content-description {
  color: #fff;
  font-family: "GT America Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-right: 10px;
}
.placement-section {
  background-color: #151514;
  color: #fff;
  margin-top: 0;
  padding: 32px;
  padding-right: 0;
  padding-left: 0;
}

.placement-container {
  margin: 0 32px 0 32px;

  padding-left: 72px;
  padding-right: 72px;
}
.placement-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.placement-header-container h2 {
  /* font-size: 52px; */
  font-size: 2.4rem;
  font-family: "Albertus Medium";
  font-weight: 400;
  padding-top: 0px;
  color: #fff;
  margin: 0;
}

.placement-description-container {
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}
.placement-description-container p {
  font-family: "GT America Regular";
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #fff;
  margin-top: 0;
}
.link-item-bg-white {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 10px;
  padding: 0 14px;
  cursor: pointer;
  background-color: #fff;
}

.arrow-btn-white {
  text-decoration: none;
  font-family: "GT America Regular";
  display: flex;
  height: fit-content;
  font-size: 18px;
  /* width: max-content; */
  align-items: center;
  cursor: pointer;
  padding: 2px 0;
  color: white;
  margin: 0;
}

.arrow-btn-white .round-icon-container {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
  margin-right: 1rem;
}

/* .arrow-btn-white:hover .round-icon-container{
  background-color:  #992728;
  border: none;
} */

.link-item-bg-white span {
  color: #000;
  font-family: "GT America Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.p-arrow-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.placement-description-container a div{
  font-family: "GT America Regular";
  font-weight: 400;
  
}
.placement-description-container a div:hover{
  font-weight: 900;
  
}

.placement-image {
  display: flex;
  padding-top: 36px;
  padding-bottom: 48px;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.placement-image div {
  display: flex;
}
.placement-image .img {
  padding: 20px;
  border: 5px solid skyblue;
  height: 460px;
}

.placement-image .img img {
  width: 100%;
}
.placement-image .img-middle img {
  height: 560px;
}
.recruiters-container {
  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 48px;

  /* padding-right: 72px; */
}

.chevron-icons {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* padding-top: 20px; */

  /* border-bottom: 1px solid #E8E8E8; */
}
.chevron-icons #left,
#right {
  border: 1px solid #000;
  padding: 10px 16px;
  font-size: 22px;
  color: #373737;
  border-radius: 50%;
  transition: 0.6s ease;
  cursor: pointer;
  background-color: #373737;
  color: #fff;
}

.recruiters-content {
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding: 40px 0;
}

.recruiters-slider-container {
  padding: 0 30px;
  width: 100%;
  overflow: hidden;
}

.sliding-container {
  display: flex;
  gap: 7%; /* Reduced the gap for better alignment */
  transition: transform 1s ease-in-out;
}

.showSlider {
  flex: 0 0 15%; /* Adjusted to standardize image containers */
  display: flex;
  justify-content: center;
  align-items: center;
}

.showSlider img {
  max-width: 100%; /* Ensures images fit within their container */
  max-height: 140px; /* Sets a uniform height for images */
  object-fit: contain; /* Maintains aspect ratio while fitting */
}

.chevron-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.chevron-icons i {
  cursor: pointer;
  font-size: 24px;
  margin: 0 15px;
}

hr.divider {
  border: 1px solid #e8e8e8;
  width: 100%;
}


.glimpses-section {
  background-color: #151514;
  color: #fff;
  margin-top: 0;
  padding: 32px;
  padding-right: 0;
  padding-left: 0;
}

.glimpses-container {
  margin: 0 32px 0 32px;
  padding-left: 72px;
  padding-right: 72px;
}
.placement-glimpses {
  display: grid;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-columns: 4fr 2.5fr 1fr 2fr 1fr 1fr 2.5fr;
  grid-template-rows: 240px 240px 35px 200px;
}
.placement-glimpses .grid-bg {
  background-color: #fff;
  color: #000;
}
.placement-glimpses .grid-item-1 {
  grid-row-start: 1;
  grid-row-end: -1;
  margin-top: auto;
  margin-bottom: auto;
}
.placement-glimpses .grid-item-1 p {
  padding: 0;
  margin: 4px;
  /* font-size: 52px; */
  font-size: 2.9rem;
  color: #fff;
  font-family: "Albertus Medium";

  font-style: normal;
  font-weight: 400;
  text-align: justify;
}
.placement-glimpses .grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.placement-glimpses .grid-item-3 {
  grid-column-start: 5;
  grid-column-end: 8;
}
.placement-glimpses .grid-item-4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.placement-glimpses .grid-item-5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #fff;
}
.placement-glimpses .grid-item-5 .percent {
  font-family: "Albertus Medium";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  margin: 10px 24px 0px 24px;
}
.placement-glimpses .grid-item-5 .percent-text {
  font-family: "GT America Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin: 0px 24px 0px 24px;
}
.placement-glimpses .grid-item-6 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: -4;
  grid-row-end: -3;
}
.placement-glimpses .grid-item-7 {
  grid-column-start: -7;
  grid-column-end: -5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.placement-glimpses .grid-item-8 {
  grid-column-start: -5;
  grid-column-end: -2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.placement-glimpses .grid-item-9 {
  grid-column-start: -2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 5;
}
.glimpse-numbers {
  color: #992728;
  font-family: "Albertus Medium";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 4rem; */
  margin: 16px 24px 0px 24px;
}

.glimpse-text {
  color: #000;
  font-family: "GT America Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin: 0px 24px 0px 24px;
}
.campus-section {
  margin-bottom: 80px;
  overflow: hidden;
}
.campus-container {
  margin-left: 32px;
  padding-left: 72px;
  margin-top: 80px;
  width: 100%;
  display: flex;
  gap: 30px;
  /* overflow-x: scroll; */
  /* padding-right: 72px; */
}
.campus-container .campus-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 450px;
  z-index: 1000;
}

.campus-content .round-icon-container {
  border: solid 1px black;
}

.campus-content .round-icon-container:hover {
  background-color: #992728;
  border: none;
}

.campus-content .round-icon-container i {
  color: #000;
}

.campus-content .arrow-btn-white:hover i {
  color: #fff;
}

.campus-content .round-icon-container {
  border: solid 1px black;
}

.campus-content .round-icon-container:hover {
  background-color: #992728;
  border: none;
}

.campus-content .round-icon-container i {
  color: #000;
}

.campus-content .arrow-btn-white:hover i {
  color: #fff;
}

.campus-images-container {
  flex: 2;
  display: flex;
  overflow: hidden;
}

.campus-images {
  /* display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* gap: 15px; */
  z-index: 1;
  transition: transform 1s ease-in-out;
  flex: 2;
  display: flex;
  gap: 15px;
  overflow: visible;
}
.campus-images .campus-img {
  flex: 0 0 70%; /* Adjust the width of each image as needed */
  text-align: center;
  transition: transform 1s ease-in-out;
}

/* .campus-container .img {
 
  flex: 0.5;
  

} */
.campus-images .campus-img img {
  margin-top: 60px;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

/* .campus-container .campus-images .img1 img {
  margin-top: 60px;
  width: 100%;
  height: 80%;
} */

.campus-container .campus-content h2 {
  color: #000;
  font-family: "Albertus Medium";
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
}
.campus-container .campus-content p {
  color: #000;
  text-align: justify;
  font-family: "GT America Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 24px;
}
.campus-container .campus-content .link {
  margin-top: 10px;
}
.campus-link-item {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  background-color: #000;
  padding: 4px 14px;
}
.campus-link-item span {
  color: #fff;
  font-size: 16px;
}

.placement-link-item span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.p-arrow-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consultancy-projects-section {
  background-color: #151514;
  color: #fff;

  padding-top: 65px;
  padding-bottom: 84px;
  padding-right: 0;
  padding-left: 0;
}

.consultancy-projects-container {
  display: flex;

  gap: 40px;
  margin: 32px;
  margin-top: 80px;

  padding-left: 72px;
  padding-right: 72px;
}
.consultancy-projects-content {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.consultancy-projects-content p {
  color: #fff;
  text-align: justify;
  font-family: "Albertus Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.consultancy-projects-container .consultancy-projects-image {
  display: flex;
  flex: 3;
}
.consultancy-projects-image img {
  width: 100%;
  height: auto;
  max-height: 600px;
}
/* .campus-section{
  margin-bottom: 80px;
} */
.recognition-section {
  margin-left: 100px;
  /* width: 80%; */
  overflow: hidden;
}
.recognition-container {
  box-sizing: border-box;
  /* margin: 32px; */
  /* padding-left: 72px; */
  padding-bottom: 40px;
  /* margin-right: 0;*/
  overflow: visible;

  /* padding-right: 72px; */
}

.recognition-content {
  padding-top: 32px;
  padding-bottom: 42px;
  /*display: flex;
  gap: 20px; */

  display: flex;

  gap: 15px;
  /* width: 100%; */

  transition: transform 1s ease-in-out;
}
.recognition-container::-webkit-scrollbar {
  display: none;
}
.recognition-images {
  display: flex;
  position: relative;
  flex-direction: column;
  /* flex: 0 0 62%; */
  /* height: 500px; */
  min-width: 720px;
}

.recognition-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recognition-images::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 42.71%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.recognition-description {
  bottom: 1rem;
  left: 20px;
  position: absolute;
  z-index: 1;
}

.recognition-description div {
  color: #fff;
  font-family: "Albertus Medium";
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 0.8rem;
}
.recognition-description span {
  color: #fff;
  font-family: "GT America Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.nation-section {
  color: #fff;
  background-color: #151514;
  padding-bottom: 32px;
  padding-right: 0;
  padding-left: 0;
}

.nation-container {
  margin: 32px;
  padding-left: 72px;
  padding-bottom: 15px;
  padding-right: 72px;
}
.nation-header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* text-align: justify; */
  align-items: center;
}

.divider-white-mob {
  display: none;
}
.nation-header-container p {
  color: #fff;
  text-align: justify;
  font-family: "GT America Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 80px;
}
.nation-content {
  margin-top: 48px;
  width: 100%;
  max-height: 680px;
}
.nation-content img {
  width: 100%;
  max-height: 680px;
  object-fit: cover;
}
/* .testimonials-container {
 
  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 40px;
  overflow: scroll;
 
} */

#testimonials-container {
  margin: 32px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 40px;
  overflow: visible;
}
::-webkit-scrollbar {
  display: none;
}

.testimonials-images-container {
  width: 100%;
  overflow: hidden;
}
.testimonials-content {
  padding-top: 32px;
  padding-bottom: 250px;
  /*display: flex;
  gap: 20px; */
  display: flex;
  gap: 25px;
  /* width: 100%; */
  /* overflow: hidden;  */
  transition: transform 0.5s ease-in-out;
}
.testimonials-images {
  position: relative;
  display: flex;
  flex: 0 0 32%;
  height: 34rem;
}

.testimonials-images::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 31.67%,
    rgba(0, 0, 0, 0.8) 79.75%
  );
}

.testimonials-content div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.testimonials-content-description {
  position: absolute;
  padding: 5px 20px 40px 20px;
  top: 400px;
  z-index: 1;
  background: #000;
}
.testimonials-content-description .name {
  color: #fff;
  font-family: "Albertus Medium";

  font-size: 28px;
  font-style: normal;
  margin-bottom: 15px;
  border-bottom: 2px solid #fff;
  line-height: 68px;
}
.testimonials-content-description .course {
  color: #fff;
  font-family: "GT America Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
  /* line-height: 38px; */
}
.testimonials-content-description .review {
  color: #d7d7d7;
  text-align: justify;
  font-family: "GT America Regular";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.static-value {
  /* font-size: 28px; */
  font-size: 1.7rem;
  font-family: "Albertus Medium";
  color: #a51c30;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  word-break: normal;
}

.static-description {
  /* font-size: 18px; */
  font-size: 1.1rem;
  font-family: "GT America Bold";
  line-height: 1.6;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.1px;
  color: #1e1e1e;
  margin: 0;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 0px;
  right: 0;
  width: 220px;
  height: 310px;
  background-color: white;
  font-size: 16px;
  font-family: "GT America Bold";
  font-weight: 300;
  color: black;
  text-align: flex-start;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  z-index: 1000;
}

.menu-dropdown p {
  cursor: pointer;
}

.menu-dropdown p:hover {
  color: rgb(118, 43, 42);
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-icon i {
  font-size: 18px;
  color: black;
}

.menu-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 85px;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
  width: 100%;
  background: rgba(12, 12, 12, 0.97);
}

.menu-dropdown-container {
  display: flex;
  width: 100%;
  padding: 24px 104px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.menu-dropdown-container a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
}

.menu-item-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  /* flex: 1 0 0; */
  align-self: stretch;
}

.menu-item-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
}

.menu-item-section .menu-section-link {
  display: flex;
  padding: 8px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-family: "Albertus Medium";
  color: #fff;
}
.menu-item-section .menu-section-heading {
  font-family: "GT-America-Standard-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4px;
  color: #f3b831;
}
.menu-item-section .menu-section-heading a {
  color: inherit;
  font-family: inherit;
}

.masters-container {
  padding-top: 51px !important;
}

.navbar .navbar-items > p:hover {
  color: #ffffff;
  font-weight: normal;
  /* border: 1px solid red; */
}

.navbar-items p.dropdown-open {
  font-weight: 500;
  background: #0c0c0c;
}

.navbar-items > p.dropdown-open {
  color: #ffffff;
  font-weight: normal;
}
.navbar .navbar-items > p.dropdown-open:hover {
  color: #ffffff;
  font-weight: normal;
}

.navbar .navbar-items > p.dropdown-open:hover {
  background: #0c0c0c;
}

.link-animation {
  overflow: hidden;
  position: relative;
  vertical-align: top;
}

.link-animation:after {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  transform-origin: right center;
}

.link-animation:hover:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}

.link-animation {
  display: inline-block;
}

@media screen and (min-width: 960px) and (max-width: 1250px) {
  .video-container {
    position: relative;
    width: 100vw;
    height: 100%;
  }

  video {
    height: 100%;
  }

  .text-welcome {
    font-size: 56px;
    font-family: "Albertus Medium";
  }

  .stats-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-container {
    padding-left: 0px;
    padding-right: 0px;
    color: #fff;
    background-color: #151514;
  }
  .about-image img {
    max-height: 42em;
  }

  .accreditations-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-gap: 4.3rem;
  }

  .navbar .navbar-items p {
    padding: 10px 0.7rem 10px 0.7rem;
  }

  .navbar-expand-icon {
    margin-left: 5px;
  }

  .contact-btn {
    padding: 10px 14px;
    margin-left: 0.7rem;
  }
  .placement-header-container h2 {
    font-size: 48px;
  }
  .placement-image {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .video-container {
    position: relative;
    width: 100vw;
    height: 100%;
  }

  video {
    height: 100%;
  }

  .navbar .navbar-items {
    display: none;
  }

  .navbar {
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
  }

  .navbar .logo-container {
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 40px;
  }

  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    padding-top: 10px;
    cursor: pointer;
  }

  .fa-bars {
    color: #ffffff;
    font-size: 28px;
    z-index: 100;
    cursor: pointer;
  }

  .text-welcome {
    font-size: 48px;
    font-family: "Albertus Medium";
  }

  .stats-header-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-heading-black h2 {
    font-size: 48px;
    margin: 0;
  }

  .main-heading-white h2 {
    font-size: 48px;
    margin-top: 0;
  }

  .stats-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .stats-description-container {
    padding-top: 0px;
    padding-left: 0px;
  }

  .divider {
    margin-top: 32px;
  }

  .stats-content {
    padding-top: 0px;
    padding-bottom: 32px;
  }

  .stats-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 50px;
  }
  .about-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 48px;
    color: #fff;
    background-color: #151514;
  }

  .about-content {
    padding-top: 33px;
    padding-bottom: 0px;
    color: #fff;
    width: 100%;
    text-align: justify;
  }
  .about-section {
    background-color: #151514;
    color: #fff;
    margin-top: 0;
    padding: 16px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .about-image {
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-image img {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 32em;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .accreditations-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .placement-image {
    justify-content: space-evenly;
  }

  .courses-container {
    padding-left: 0;
    padding-right: 0;
  }

  .explore-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .placement-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .video-container {
    position: relative;
    width: 100vw;
    height: 100%;
  }

  video {
    height: 100%;
  }

  .navbar .navbar-items {
    display: none;
  }

  .navbar {
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
  }

  .navbar .logo-container {
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 40px;
  }

  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    padding-top: 10px;
  }

  .fa-bars {
    color: #ffffff;
    font-size: 28px;
  }

  .text-overlay {
    top: 35%;
    left: 8%;
    right: 8%;
    transform: translateY(-0%) translateX(0%)
    ;
  }

  .text-description {
    margin: 32px 0px;
  }

  .text-welcome {
    font-size: 42px;
    font-family: "Albertus Medium";
  }

  .stats-header-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-heading-black h2 {
    font-size: 32px;
    margin: 0;
  }
  .main-heading-white h2 {
    font-size: 32px;
    margin-top: 0;
  }

  .stats-container {
    padding-left: 0px;
    padding-right: 0px;
    /* background-color: #151514; */
  }

  .about-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .stats-description-container {
    padding-top: 0px;
    padding-left: 0px;
  }

  .divider {
    margin-top: 32px;
  }

  .stats-content {
    padding-top: 0px;
    padding-bottom: 32px;
  }

  .stats-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    column-gap: 0px;
  }
  .about-section {
    background-color: #151514;
    color: #fff;
    margin-top: 0;
    padding: 32px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .about-container {
    padding-bottom: 48px;
    color: #fff;
    background-color: #151514;
  }

  .about-content {
    padding-top: 33px;
    padding-bottom: 0px;
    color: #fff;
    width: 100%;
    text-align: justify;
  }

  .about-image {
    padding-top: 0px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-image img {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    max-height: 30em;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
  }

  .accreditations-container {
    padding-left: 0px;
    padding-right: 0px;
    color: #000;
  }

  .placement-image {
    justify-content: space-evenly;
  }
  .placement-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .courses-container {
    padding-left: 0;
    padding-right: 0;
  }

  .explore-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .placement-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .placement-header-container {
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid red; */
  }
  .placement-description-container {
    padding-top: 0px;
    padding-left: 0px;
    gap: 0;
  }
}

@media (max-width: 1080px) {
  .explore-container,
  .recruiters-container,
  .courses-container,
  .nation-container {
    padding: 0px;
  }

  .placement-image {
    flex-direction: column;
  }
  .placement-container {
    padding: 0px;
  }
  .placement-image .img img {
    height: 380px;
  }
  .placement-image .img-middle img {
    height: 460px;
  }
}

@media (max-width: 992px) {
  .explore-content-heading {
    font-size: 2rem;
  }

  .explore-content-description {
    font-size: 14px;
  }
  .placement-image .img img,
  .placement-image .img-middle img {
    height: auto;
    width: 100%;
  }
  .consultancy-projects-container {
    flex-direction: column-reverse;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .consultancy-projects-content .link-item-bg-white {
    width: 100%;
    line-height: 24px;
    padding: 5px 5px 5px 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 720px) {
  .accreditations-content img {
    margin-bottom: 40px;
  }
  .accreditations-content .upper {
    padding-bottom: 0px;
  }
  .programmes div {
    font-size: 20px;
  }
  .explore-images-container {
    justify-content: center;
  }
  .explore-images-container .explore-images {
    max-width: 100%;
  }
  .explore-content-heading {
    font-size: 2.9rem;
  }

  .explore-content-description {
    font-size: 18px;
  }
  .recruiters-slider-container {
    padding: 0px;
  }
}

/* Mobile Responsiveness */
@media (max-width: 450px) {
  :root {
    --heading-size: 32px;
  }

  .main-heading-black,
  .main-heading-white {
    font-size: var(--heading-size);
    margin-top: 1.5rem;
  }

  /* About ABES */
  .about-section {
    padding-top: 1px;
    margin: 0;
  }
  .about-content{
    padding-top: 4px;
  }

  .about-content p span {
    display: none;
  }

  /* Accreditations and Affiliations */
  .accreditations-content .lower .image:nth-child(4) {
    display: none;
  }

  .accreditations-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 0 0;
  }

  /* Courses offered */
  .courses-header-container h2 {
    font-size: var(--heading-size);
  }
  .programmes #course-deks {
    display: none;
  }
  .programmes #course-mob {
    display: block;
  }
  .courses .branches div .branch-mob {
    display: block;
  }
  .courses .branches div .branch-deks {
    display: none;
  }
  .courses-content {
    padding-top: 24px;
  }
  .courses .branches div span {
    font-size: 16px;
  }
  .courses .name {
    padding: 12px 16px;
    padding-right: 0px;
  }
  .courses .BTech {
    padding: 14px 16px;
  }
  .courses .MTech {
    display: none !important;
  }
  .courses .MTech-text-desktop {
    display: none !important;
  }
  .courses .MTech-text-mobile{
    display: block !important;
  }
  .courses .branches div {
    padding: 14px 16px;
    padding-right: 0px;
  }
  .courses .branches div .seats {
    min-width: 100px;
  }
  .courses-container {
    margin: 32px 16px 16px 16px;
  }

  /* Explore & get engaged */

  .explore-container {
    margin: 16px;
  }
  .explore-images-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .explore-images-container .explore-content {
    top: 200px;
}
  .row .arrow-div {
    display: none;
  }

  /* Top recruiters */

  .recruiters-container {
    margin: 15px;
  }
  .recruiters-content {
    padding: 20px 20px 0px 10px;
  }
  .sliding-container {
    gap: 11%;
  }
  .showSlider {
    flex: 0 0 40%;
  }
  .showSlider img {
    width: 100%;
  }

  /* Placement glimpses 2023 */
  .placement-glimpses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -16px;
    margin-right: -16px;
  }
  .placement-glimpses .grid-item-1 p {
    display: inline;
    font-size: var(--heading-size);
  }
  .glimpses-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .placement-glimpses .grid-item-5 {
    background-color: #fff;
    color: #000;
  }
  .placement-glimpses .grid-item-5 .percent {
    color: #992728;
    font-size: var(--heading-size);
  }
  .placement-glimpses .grid-item-5 .percent-text {
    margin-bottom: 6px;
  }
  .glimpse-numbers {
    font-size: var(--heading-size);
  }
  .glimpse-text {
    margin-bottom: 6px;
  }

  /* Campus-container */
  .campus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 30px 16px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .campus-container .campus-content h2 {
    font-size: var(--heading-size);
    line-height: 43px;
  }
  .campus-section {
    margin-bottom: 40px;
  }
  .campus-images .campus-img {
    width: 100%;
  }
  .campus-images .campus-img img {
    margin-top: 0px;
    height: 100%;
  }
  .chevron-icons {
    margin: 10px 0;
  }

  /* consultancy-projects-section */
  .consultancy-projects-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .consultancy-projects-container {
    margin: 16px;
  }

  /* International recognition */

  .recognition-section {
    margin: 0 16px;
  }
  .recognition-container {
    padding-bottom: 0;
  }
  .recognition-content {
    padding-top: 24px;
    padding-bottom: 30px;
  }
  .divider {
    width: 100%;
  }
  .recognition-images {
    flex: 0 0 100%;
    height: 300px;
    min-width: 300px;
  }
  .recognition-description div {
    font-size: 28px;
    line-height: 1.6rem;
  }
  .recognition-description {
    left: 10px;
  }
  .recognition-description span {
    font-size: 17px;
  }

  /* Serving the Nation */
  .nation-header-container h2 {
    display: block;
    width: 100%;
  }

  .divider-white-mob {
    display: block;
    border: 2px solid white;
    width: 100%;
    margin: 0;
    align-items: start;
  }
  .nation-header-container {
    display: flex;
    flex-direction: column;
  }
  .nation-container .divider-white{
    display: none;
  }
  .nation-container {
    margin: 16px;
    padding-top: 1rem;
    background-color: #151514;
  }
  .nation-header-container p {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  /* Testimonials */
  .testimonials-header-container {
    width: 100%;
  }

  #testimonials-container {
    overflow: hidden;
    margin: 16px;
    padding: 0;
  }
  .testimonials-images {
    flex: 0 0 100%;
    height: 30rem;
  }
  .testimonials-content {
    padding-bottom: 30px;
    padding-top: 24px;
  }
  .testimonials-images-container {
    padding-bottom: 250px;
  }
}
/* Card CSS */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Albertus Medium";
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.article-body p {
  margin: 0 0 18px 0;
  color: var(--title-color);
  transition: color 0.3sease-out;
}
.article-body span {
  margin: 0 0 18px 0;
  font-family: "Albertus Medium";
  font-size: 1rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3sease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: all ease-in-out 0.3s;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  font-family: "Albertus Medium";
  text-decoration: none;
  color: #ad1919;
}

article a:focus {
  outline: 1px dotted #ad1919;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #ad1919;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px 0;
  font-size: 1.2rem;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}